@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma,sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    font-weight: 900;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}
section.imagem > p{
    margin: 0;
    width: 400px;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.425);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}