@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}
body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: grey;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    font-size: 2em;
}
main {
    background-color: rgba(225, 255, 225, 0.842);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
img {
    display: block;
    margin: auto;
}
img#icon-ph { display: block; }
img#icon-tab { display: none; }
img#icon-pr { display: none; }
img#icon-pc { display: none; }
img#icon-tv { display: none; }