/* Demais dispositivos */

@media screen and (min-width: 400px) and (max-width: 728px){
    main {
        width: 400px;
    }
    #isub {
        width: 400px;
    }
    #iusu, #isen {
        width: 380px;
    }
}

@media screen and (min-width: 728px) and (max-width: 992px){
    main {
        width: 400px;
    }
    #isub {
        width: 400px;
    }
    #iusu, #isen {
        width: 380px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main {
        width: 400px;
    }
    #isub {
        width: 400px;
    }
    #iusu, #isen {
        width: 380px;
    }
}

@media screen and (min-width: 1200px){
    main {
        width: 400px;
    }
    #isub {
        width: 400px;
    }
    #iusu, #isen {
        width: 380px;
    }
}