/* Demais dispositivos */

@media screen and  (max-width: 599px){
    main {
        width: 400px;
    }
    .csub {
        width: 400px;
    }
    .cusu, .csen {
        width: 380px;
    }
}
@media screen and (min-width: 600px) and (max-width: 728px){
    main {
        width: 400px;
    }
    .csub {
        width: 400px;
    }
    .cusu, .csen {
        width: 380px;
    }
}

@media screen and (min-width: 728px) and (max-width: 992px){
    main {
        width: 400px;
    }
    .csub {
        width: 400px;
    }
    .cusu, .csen {
        width: 380px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main {
        width: 400px;
    }
    .csub {
        width: 400px;
    }
    .cusu, .csen {
        width: 380px;
    }
}

@media screen and (min-width: 1200px){
    main {
        width: 400px;
    }
    .csub {
        width: 400px;
    }
    .cusu, .csen {
        width: 380px;
    }
}